
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span><%=empresa?.nome%></span>
          </a>
          <p><%=empresa?.descricao%></p>
          <div class="social-links d-flex mt-4">
            <%if(empresa?.twitter){%>
              <a href="<%=empresa?.twitter%>" class="twitter"><i class="bi bi-twitter"></i></a>
            <%}%>
            <%if(empresa?.facebook){%>
              <a href="<%=empresa?.facebook%>" class="facebook"><i class="bi bi-facebook"></i></a>
            <%}%>
            <%if(empresa?.instagram){%>
              <a href="<%=empresa?.instagram%>" class="instagram"><i class="bi bi-instagram"></i></a>
            <%}%>
            <%if(empresa?.likedin){%>
              <a href="<%=empresa?.likedin%>" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <%}%>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Acessos</h4>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Sobre nós</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#recent-posts">Blog</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <%if(servicos.length > 0){%>
            <h4>Nossos Serviços</h4>
            <ul>
              <%servicos.forEach((servico,index)=>{%>
                <%if(index < 6){%>
                  <li><a href="/servico/<%=servico.id%>"><%=servico.nome%></a></li>
                <%}%>
              <%})%>
            </ul>
          <%}%>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Nossos contatos</h4>
          <p>
           <%=empresa?.endereco%>
            <strong>Telefone:</strong> <%=empresa?.telefone%><br>
            <strong>Email:</strong> <%=empresa?.email%><br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span><%=empresa?.nome%></span></strong>. Todos os direitos reservados
      </div>
      <div class="credits">
        Criado por <a target="_blank" href="https://api.whatsapp.com/send?phone=+5508694190580&text=Olá,%20gostaria%20de%20obter%20um%20site%20para%20minha%20empresa!">Gtech Servicos</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
  <%if(empresa?.whatsapp){%>
    <a target="_blank" href="https://api.whatsapp.com/send?phone=+550<%=empresa.whatsapp.replace(/\D/g, '')%>&text=Olá,%20Tenho%20uma%20duvida!" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>
  <%}%>
