<%- include("./partials/head.ejs")%>

  <!-- ======= Header ======= -->
  
  <%- include("./partials/topbar.ejs")%>
  <%- include("./partials/header.ejs")%>

  <!-- ======= Hero Section ======= -->
  <section id="home" class="hero mt-0">
    <div class="container position-relative">
      <div class="row gy-5 pb-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2><%=cms.banner?cms.banner.titulo:'Seja Bem Vindo'%></h2>
          <p><%=cms.banner?cms.banner.texto:'Ol치, seja bem-vindo(a) ao nosso site!'%></p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#contact" class="btn-get-started">Contato</a>
            <%if(cms.video != undefined && cms.video.status ==true){%>
             <a href="<%=cms.video.video%>" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assistir V칤deo</span></a>
            <%}%>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 text-center">
          <img src="<%=cms.banner?cms.banner.img:'/img/hero-img.svg'%>" class="img-fluid w-50 rounded" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>
    <%if(servicos.length > 0){%>
    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row justify-content-center gy-4 mt-5">
            <%servicos.forEach((servico,index)=>{%>
              <%if(index < 4){%>
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon-box" <%-`style="background-color: ${servico.cor};"`%>>
                    <div class="icon"><img src="<%=servico.img%>" class="w-25" alt=""></div>
                    <h4 class="title"><a href="/servicos/<%=servico.id%>" class="stretched-link"><%=servico.nome%></a></h4>
                  </div>
                </div>
              <%}%>
            <%})%>
        </div>
      </div>
    </div>
    <%}%>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <%if(cms.sobre != undefined && cms.sobre.status == true){%>
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Sobre N칩s</h2>
          <p><%=cms.sobre.titulo%></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3><%=cms.sobre.subtitulo%></h3>
            <img src="<%=cms.sobre.img1%>" class="img-fluid rounded-4 mb-4" alt="">
            <p><%=cms.sobre.texto1%></p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p><%-cms.sobre.texto2%></p>
              <div class="position-relative mt-4 text-center">
                <img src="<%=cms.sobre.img2%>" class="img-fluid rounded-4" alt="">
                <%if(cms.sobre.video != ''){%>
                  <a href="<%=cms.sobre.video%>" class="glightbox play-btn"></a>
                <%}%>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <%}%>

    <!-- ======= Clients Section ======= -->
    <%if(cms.parceiros.length > 0){%>
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">
        <div class="section-header">
          <h2>Nossos Parceiros</h2>
          <p>Conhe칞a nossos parceiros que contribuem para a forma칞칚o de nossos alunos</p>
        </div>
        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <%cms.parceiros.forEach(parceiro =>{%>
            <div class="swiper-slide align-middle text-center">
              <a target="_blank" href="<%=parceiro.link?parceiro.link:'#'%>">
                <img src="<%=parceiro.img%>" class="img-fluid" width="60px" alt="">
              </a>
            </div>
            <%})%>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->
    <%}%>

    <%if(cms.video != undefined && cms.video.status ==true){%>
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" <%-`style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('${cms.video.img}') center center;"`%> data-aos="zoom-out">
        <a href="<%=cms.video.video%>" class="glightbox play-btn"></a>
        <h3><%=cms.video.titulo%></h3>
        <p><%=cms.video.texto%></p>
        <a class="cta-btn" href="#contact">Entrar em Contato</a>
      </div>
    </section><!-- End Call To Action Section -->
    <%}%>

    <%if(cms.categorias.length > 0){%>
      <!-- ======= Our Services Section ======= -->
        <section id="categorys" class="services sections-bg">
          <div class="container" data-aos="fade-up">
  
            <div class="section-header">
              <h2>Nossos Cursos</h2>
              <p>Chegou a hora de mudar de vida com a nossa GRADUA칂츾O.</p>
            </div>
  
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
              <%cms.categorias.forEach(categoria =>{%>
                <div class="col-lg-4 col-md-6">
                  <div class="service-item  position-relative">
                    <div class="my-3">
                      <img src="<%=categoria.img%>" height="60px" width="60px" alt="">
                    </div>
                    <h3><%=categoria.nome%></h3>
                    <p><%=categoria.descricao%></p>
                    <a href="/categorias/<%=categoria.id%>" class="readmore stretched-link">Saiba Mais <i class="bi bi-arrow-right"></i></a>
                  </div>
                </div><!-- End Service Item -->
              <%})%>
            </div>
  
          </div>
        </section><!-- End Our Services Section -->
      <%}%>

    <%if(servicos.length > 0){%>
    <!-- ======= Our Services Section ======= -->
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h2>Nossos Servi칞os</h2>
            <p>Chegou a hora de mudar de vida com a nossa GRADUA칂츾O.</p>
          </div>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
            <%servicos.forEach(servico =>{%>
              <div class="col-lg-4 col-md-6">
                <div class="service-item  position-relative">
                  <div class="my-3">
                    <img src="<%=servico.img%>" height="60px" width="60px" alt="">
                  </div>
                  <h3><%=servico.nome%></h3>
                  <p><%=servico.descricao%></p>
                  <a href="/servicos/<%=servico.id%>" class="readmore stretched-link">Saiba Mais <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
            <%})%>
          </div>

        </div>
      </section><!-- End Our Services Section -->
    <%}%>

    
    <!-- ======= Testimonials Section ======= -->
    <%if(cms.testemunhas?.length > 0){%>

      <section id="testimonials" class="testimonials sections-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Coment치rios</h2>
            <p>Veja coment치rios de alunos, professores e pessoas que tiveram a oportunidade de conhecer nosso trabalho!</p>
          </div>
  
          <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
              <%cms.testemunhas.forEach(testemunha =>{%>

                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <div class="d-flex align-items-center">
                        <img src="<%=testemunha.img%>" class="testimonial-img flex-shrink-0" alt="">
                        <div>
                          <h3><%=testemunha.nome%></h3>
                          <h4><%=testemunha.competencia%></h4>
                          <div class="stars">
                            <%for(let i = 0;i < testemunha.star && i < 5;i++){%>
                              <i class="bi bi-star-fill"></i>
                            <%}%>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <%=testemunha.comentario%>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
              <%})%>
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->

    <%}%>
    
    <!-- ======= Our Team Section ======= -->
    <%if(cms.funcionarios?.length > 0){%>
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Nosso Time</h2>
            <p>Conhe칞a o nosso time, pessoas respons치veis por todo o processo de crescimento e gest칚o de nossa institui칞칚o</p>
          </div>
  
          <div class="row gy-4">
            <%cms.funcionarios.forEach(funcionario =>{%>
              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                  <img src="<%=funcionario.img%>" class="img-fluid" alt="">
                  <h4><%=funcionario.nome%></h4>
                  <span><%=funcionario.competencia%></span>
                  <div class="social">
                    <%funcionario.redes.forEach(rede =>{%>
                      <a target="_blank" href="<%=rede.link%>"><%- rede.logo%></a>
                    <%})%>
                  </div>
                </div>
              </div><!-- End Team Member -->
            <%})%>
          </div>
  
        </div>
      </section><!-- End Our Team Section -->
    <%}%>

    <!-- ======= Frequently Asked Questions Section ======= -->
    <%if(cms.duvidas?.length > 0){%>
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="row gy-4">
  
            <div class="col-lg-4">
              <div class="content px-xl-5">
                <h3><strong>D칰vidas</strong> Frequentes</h3>
                <p>
                  Caso tenha alguma d칰vida se sinta a vontade em entrar em contato com nossa equipe. Estamos dispostos a atend칡-los e retirar todas as d칰vidas, segue abaixo lista de perguntas frequentes para lhe ajudar!
                </p>
              </div>
            </div>
  
            <div class="col-lg-8">
  
              <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
                <%cms.duvidas.forEach((pergunta,index) =>{%>
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-<%=pergunta.id%>">
                        <span class="num"><%=index + 1%></span>
                        <%=pergunta.duvida%>
                      </button>
                    </h3>
                    <div id="faq-content-<%=pergunta.id%>" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        <%=pergunta.resposta%>
                      </div>
                    </div>
                  </div><!-- # Faq item-->
                <%})%>
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->
    <%}%>

  

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nossas Postagens</h2>
          <p>Estamos dedicados a oferecer conhecimento de verdade, acompanhe nossas postagens abaixo:</p>
        </div>

        <div class="row gy-4">
          <%blogs.forEach(blog =>{%>
            <div class="col-xl-4 col-md-6">
              <article>
  
                <div class="post-img">
                  <img src="<%=blog.capa%>" alt="" class="img-fluid">
                </div>
  
                <p class="post-category"><%=blog.categoria%></p>
  
                <h2 class="title">
                  <a href="/conteudo/<%=blog.id%>?slug=<%=blog.titulo.replace(/ /g,'-')%>"><%=blog.titulo%></a>
                </h2>
  
                <div class="d-flex align-items-center">
                  <img src="<%=blog.autor_foto%>" alt="<%=blog.autor%>" class="img-fluid post-author-img flex-shrink-0">
                  <div class="post-meta">
                    <p class="post-author"><%=blog.autor%></p>
                    <p class="post-date">
                      <time datetime="<%=blog.createdAt%>"><%=blog.dataCri%></time>
                    </p>
                  </div>
                </div>
  
              </article>
            </div><!-- End post list item -->
          <%})%>

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header pb-3">
          <h2>Contato</h2>
          <p>Entre em contato conosco!</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Localiza칞칚o:</h4>
                  <p><%=empresa.endereco%></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p><%=empresa.email%></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Telefone:</h4>
                  <p><%=empresa.telefone%></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Hor치rio de atendimento:</h4>
                  <p><%=empresa.atendimento%></p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">

            <div id="form-contat-load" class="mt-5  d-none">
              <div class="d-flex justify-content-center text-equi mt-5">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            
            <div  id="form-contact" class="email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Insira seu nome" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Insira seu E-mail" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Titulo da mensagem" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" id="message" rows="7" placeholder="Mensagem" required></textarea>
              </div>
              <div class="text-center"><button class="btn btn-success btn-lg" onclick="handleSubmitMensagem()">Enviar Mensagem</button></div>
            </div>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <%- include("./partials/footer.ejs")%>

  <div id="preloader"></div>
  <%- include("./partials/script.ejs")%>
  <script>
    function loadForm(params) {
      if (params) {
        $('#form-contact').addClass('d-none')
        $('#form-contat-load').removeClass('d-none')
      }else{
        $('#form-contact').removeClass('d-none')
        $('#form-contat-load').addClass('d-none')
      }
    }
    async function handleSubmitMensagem() {
      try {
        loadForm(true)
        const name = $('#name').val()
        const email = $('#email').val()
        const subject = $('#subject').val()
        const message = $('#message').val()

        if (!name) {
         return toastErro('Necess치rio informar seu nome')
        }
        if (!email) {
         return toastErro('Necess치rio informar seu e-mail')
        }
        if (!subject) {
         return toastErro('Necess치rio informar o titulo de sua mensagem')
        }
        if (!message) {
         return toastErro('Necess치rio informar mensagem')
        }

        const request = await axios.post('/api/sendmessage',{name,email,subject,message})
        toastMsm('Parab칠ns, sua mensagem foi enviada com sucesso! Muito obrigado, logo iremos lhe da um retorno游땕')
        $('#name').val('')
        $('#email').val('')
        $('#subject').val('')
        $('#message').val('')

      } catch (error) {
        toastErro('Ocorreu um erro durante o envio da mensagem')
      }finally{
        loadForm(false)
      }
      

    }
    
  </script>

  <%- include("./partials/end.ejs")%>


 
