<!-- Padrão de todos os arquivos view -->
<%- include("./partials/head.ejs")%>
<%- include("./partials/topbar.ejs")%>
<%- include("./partials/header.ejs")%>

  <main id="main">

    <section id="" class="">
    
    </section>

  </main>

  <%- include("./partials/footer.ejs")%>
  <div id="preloader"></div>
  <%- include("./partials/script.ejs")%>

  <%- include("./partials/end.ejs")%>


 
