<%- include("../../../partials/admin/head.ejs")%>
<%- include("../../../partials/admin/header.ejs")%>
<div class="container-fluid">
    <div class="row">
    <%- include("../../../partials/admin/nav.ejs")%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section id="">
          <div class="container" data-aos="fade">
            <div class="my-1 border-bottom">
                <h1>CMS - DÚVIDAS </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                      <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Dúvidas</li>
                    </ol>
                </nav>
            </div>
            <div class="table-responsive my-3">
              <button class="btn btn-outline-primary" data-bs-toggle="modal" onclick="editar()" href="#modalDuvida"><i class="bi bi-plus-circle"></i> Cadastrar</button>
              <table class="table table-data" id="table">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Duvida</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Ult. Atu.</th>
                    <th class="text-center">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <%duvidas.forEach(duvida =>{%>
                    <tr class="text-center">
                      <th><%=duvida.id%></th>
                      <th><%=duvida.duvida%></th>
                      <th><%=(duvida.status)?'Ativo':'Inativo'%></th>
                      <th><%=duvida.ultAtu%></th>
                      <th>
                        <button class="btn btn-sm btn-info" value="<%=duvida.id%>" data-bs-toggle="modal" href="#modalDuvida" onclick="editar(this.value)">Editar</button>
                        <button class="btn btn-sm btn-danger" value="<%=duvida.id%>" onclick="remover(this.value)">Deletar</button>
                      </th>
                    </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        <%- include("./modal.ejs")%>
        </section>
    </main>
    </div>
</div>
<script>
  async function remover(id) {
    if (confirm("Deseja realmente remover cadastro do serviço?")) {
      try {
        const request = await axios.delete(`/api/cms/duvida/${id}`)
        toastMsm(request.data.resp)
        document.location.reload()
      } catch (error) {
        if (error.response != undefined && error.response.data.erro != undefined) {
          console.log(error.response)
          toastErro(error.response.data.erro)
        } else {
          toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
        }
      }
    }
  }

  
async function editar(id) {
    try {
        //Ao iniciar a função ele da o loop no modal
        loadModal(true)
        const duvida = $('#duvida')
        const status = $('#status')
        const duvidaId = $('#duvidaId')
        const resposta = $('#resposta')

        duvida.val('')
        resposta.val('')
        status.val('true')
        duvidaId.val('')
        if (id != undefined) {
            const request = await axios.get(`/api/cms/duvida/${id}`)
            const duvidaEdit = request.data.duvida
            duvida.val(duvidaEdit.duvida)
            resposta.val(duvidaEdit.resposta)
            status.val(`${duvidaEdit.status}`)
            duvidaId.val(duvidaEdit.id)
        }

    } catch (error) {
        console.log(error)
        if (error.response != undefined && error.response.data.erro != undefined) {
            console.log(error.response)
            toastErro(error.response.data.erro)
        } else {
            toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
        }
    } finally {
        loadModal(false)
    }
}

async function salvar() {
    try {
        loadModal(true)
        const duvida = $('#duvida').val()
        const status = $('#status').val()
        const duvidaId = $('#duvidaId').val()
        const resposta = $('#resposta').val()

        if (duvida == '' || resposta == '') {
            return toastErro("Dados inválidos. Gentileza preencher pergunta e resposta")
        }
        const data = {duvida:duvida,status:status,duvidaId:duvidaId,resposta:resposta}
        const request = (duvidaId == '' || duvidaId == undefined) ? await axios.post('/api/cms/duvida', data) : await axios.put('/api/cms/duvida', data)
        toastMsm(request.data.resp)
        document.location.reload()
    } catch (error) {
        console.log(error)
        if (error.response != undefined && error.response.data.erro != undefined) {
            console.log(error.response)
            toastErro(error.response.data.erro)
        } else {
            toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
        }
    } finally {
        loadModal(false)
    }
}
</script>
<%- include("../../../partials/script.ejs")%>
<%- include("../../../partials/end.ejs")%>
