<%- include("../../../partials/admin/head.ejs")%>
<%- include("../../../partials/admin/header.ejs")%>
<div class="container-fluid">
    <div class="row">
    <%- include("../../../partials/admin/nav.ejs")%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section id="">
          <div class="container" data-aos="fade">
            <div class="my-1 border-bottom">
                <h1>CMS - DÚVIDAS </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                      <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Dúvidas</li>
                    </ol>
                </nav>
            </div>
            <div class="table-responsive my-3">
              <button class="btn btn-outline-primary" data-bs-toggle="modal" onclick="editar()" href="#modalDuvida"><i class="bi bi-plus-circle"></i> Cadastrar</button>
              <table class="table table-data" id="table">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Duvida</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Ult. Atu.</th>
                    <th class="text-center">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <%duvidas.forEach(duvida =>{%>
                    <tr class="text-center">
                      <th><%=duvida.id%></th>
                      <th><%=duvida.duvida%></th>
                      <th><%=(duvida.status)?'Ativo':'Inativo'%></th>
                      <th><%=duvida.ultAtu%></th>
                      <th>
                        <button class="btn btn-sm btn-info" value="<%=duvida.id%>" data-bs-toggle="modal" href="#modalDuvida" onclick="editar(this.value)">Editar</button>
                        <button class="btn btn-sm btn-danger" value="<%=duvida.id%>" onclick="remover(this.value)">Deletar</button>
                      </th>
                    </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        <%- include("./modal.ejs")%>
        </section>
    </main>
    </div>
</div>
<script src="/script/cms/duvidas.js"></script>
<%- include("../../../partials/script.ejs")%>
<%- include("../../../partials/end.ejs")%>
