<%- include("../../partials/admin/head.ejs")%>
<%- include("../../partials/admin/header.ejs")%>
<div class="container-fluid">
    <div class="row">
    <%- include("../../partials/admin/nav.ejs")%>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section class="container" data-aos="fade">
          <div class="my-1 border-bottom">
            <h1>CSM - PARCEIROS</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                  <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Parceiros</li>
                </ol>
            </nav>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card mb-3 col-12 d-flex">
              <div class="card-body">
                <h5 class="card-title">Parceiros</h5>
                <div class="row">
                  <%parceiros.forEach(parceiro =>{%>
                    <div class="col-lg-4 my-2 col-md-6 border p-2 text-center">
                      <h6><%=parceiro.nome%></h6>
                      <div class="text-center my-4">
                        <img src="<%=parceiro.img%>" class="img-thumbnail w-25 rounded-pill">
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" value="<%=parceiro.id%>" class="btn btn-sm btn-primary mx-1" onclick="editar(this.value)" data-bs-toggle="modal" href="#modalParceiro">Editar <i class="bi bi-pencil-square" style="cursor:pointer"></i></button>
                        <button type="button" value="<%=parceiro.id%>" onclick="remover(this.value)" class="btn btn-sm btn-danger mx-1">Remover <i class="bi bi-trash" style="cursor:pointer"></i></button>
                      </div>
                    </div>
                  <%})%>
                </div>   
              </div>
              <div class="card-footer text-center">
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#modalParceiro" onclick="editar()"  role="button" title="Adicionar">Cadastrar <i class="bi bi-upload"></i></button>
              </div>
            </div>
          </div>
              
          <div class="modal fade" id="modalParceiro" aria-hidden="true" aria-labelledby="modalParceiroLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalParceiroLabel">Editando Parceiros</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="loadModal">
                    <div class="d-flex justify-content-center">
                      <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <section class="row g-3 bodyModal">
                    <input type="hidden" name="parceiroId" id="parceiroId">
                    <div class="col-12">
                      <label for="nome" class="form-label">Insira o nome do parceiro</label>
                      <input type="text" class="form-control" id="nome">
                    </div>
                    <div class="col-12">
                      <label for="img" class="form-label">Imagem</label>
                      <div class="d-flex text-center py-2 my-2 justify-content-center">
                        <img src="" id="preimg" class="img-fluid w-25"  alt="" srcset="">
                      </div>
                      <input type="file" onchange="previewImg($(this)[0].id,'preimg')" class="form-control" id="img">
                    </div>
                    <div class="col-12">
                      <label for="status" class="form-label">Status</label>
                      <select name="status" class="form-select" id="status">
                        <option value="true">Ativo</option>
                        <option value="false">Inativo</option>
                      </select>
                    </div>
                  </section>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                  <button type="button" class="btn btn-success btnModal"  onclick="salvar()">Salvar</button>
                </div>
              </div>
            </div>
          </div>
          
        </section>
      </main>
    </div>
</div>

    <script>
      async function remover(id) {
        if (confirm("Deseja realmente remover cadastro do parceiro?")) {
          try {
            const request = await axios.delete(`/api/cms/parceiro/${id}`)
            toastMsm(request.data.resp)
            document.location.reload()
          } catch (error) {
            if (error.response != undefined && error.response.data.erro != undefined) {
              console.log(error.response)
              toastErro(error.response.data.erro)
            } else {
              toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
            }
          }
        }
      }

      async function editar(id) {
        try {
          //Ao iniciar a função ele da o loop no modal
          loadModal(true)
          const preimg = $('#preimg')
          const nome = $('#nome')
          const status = $('#status')
          const parceiroId = $('#parceiroId')

          preimg[0].src = ''
          nome.val('')
          status.val('true')
          parceiroId.val('')
          if (id != undefined) {
            const request = await axios.get(`/api/cms/parceiro/${id}`)
            const parceiro = request.data.parceiro
            nome.val(parceiro.nome)
            status.val(`${parceiro.status}`)
            preimg[0].src = parceiro.img
            parceiroId.val(parceiro.id)
          }

        } catch (error) {
          console.log(error)
          if (error.response != undefined && error.response.data.erro != undefined) {
            console.log(error.response)
            toastErro(error.response.data.erro)
          } else {
            toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
          }
        }finally{
          loadModal(false)
        }
      }

      async function salvar() {
        try {
          //Ao iniciar a função ele da o loop no modal
          loadModal(true)
          const img = $('#img')[0].files[0]
          const nome = $('#nome').val()
          const status = $('#status').val()
          const parceiroId = $('#parceiroId').val()

          if (nome == '') {
            return toastErro("Dados inválidos. Gentileza preencher nome")
          } 
          const formData = new FormData()
          formData.append('img', img)
          formData.append('nome', nome)
          formData.append('status', status)
          if (parceiroId != '') {
            formData.append('parceiroId', parceiroId)
          }

          const request = (parceiroId == '')? await axios.post('/api/cms/parceiro',formData):await axios.put('/api/cms/parceiro',formData)
          toastMsm(request.data.resp)
          document.location.reload()
        } catch (error) {
          console.log(error)
          if (error.response != undefined && error.response.data.erro != undefined) {
            console.log(error.response)
            toastErro(error.response.data.erro)
          } else {
            toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
          }
        }finally{
          loadModal(false)
        }
      }
    </script>
<%- include("../../partials/script.ejs")%>
<%- include("../../partials/end.ejs")%>