<%- include("../../partials/admin/head.ejs")%>
<%- include("../../partials/admin/header.ejs")%>
<div class="container-fluid">
    <div class="row">
    <%- include("../../partials/admin/nav.ejs")%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section id="">
            <div class="container" data-aos="fade">
                <div class="my-1 border-bottom">
                    <h1>CSM - SERVIÇOS <button type="button" class="btn btn-outline-primary" title="Cadastrar"  data-bs-toggle="modal"  onclick="loadModal(false)" href="#exampleModalToggle" role="button"><i class="bi bi-plus-circle">Cadastrar</i></button></h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                          <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Sobre</li>
                        </ol>
                    </nav>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6">

                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="bi bi-broadcast"></i>
                                    <h5 class="card-title">Titulo</h5>
                                    <h6 class="card-title">Subtitulo</h6>
                                    <a href="#" class="card-link">link</a>
                                    
                                    <div class="d-flex justify-content-center mt-3">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button" title="Editar"><i class="bi bi-pencil-square">Editar</i></button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
               
                 
                        
                    
                </div>
            </div>
                  </div>
                 
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Editando tal serviço</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="loadModal">
                              <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                  <span class="visually-hidden">Loading...</span>
                                </div>
                              </div>
                            </div>
                        <form class="row g-3">
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Titulo</label>
                              <input type="text" class="form-control" id="titulo">
                            </div>
                            <div class="col-md-6">
                              <label for="inputEmail4" class="form-label">Subtiutlo</label>
                              <input type="text" class="form-control" id="subtitulo">
                            </div>
                            <div class="col-md-3">
                                <label for="inputEmail4" class="form-label">Icone</label>
                                <input type="text" class="form-control" id="icon">
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Link</label>
                                <input type="text" class="form-control" id="link">
                            </div>
                            <div class="col-md-3">
                              <label for="inputState" class="form-label">Status</label>
                              <select id="status" class="form-select">
                                <option selected>Habilitar</option>
                                <option>Desabilitar</option>
                              </select>
                            </div>
                           
                          </form>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-success btnModal" onclick="salvar()">Salvar</button>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Hide this modal and show the first with the button below.
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
                    </div>
                  </div>
                </div>
              </div>
             
        </section>
    </main>
    </div>
</div>
<script>
    async function salvar() {
      try {
        //Ao iniciar a função ele da o loop no modal
        loadModal(true)
        const titulo = $('#titulo').val()
        const subtitulo= $('#subtitulo').val()
        const icon = $('#icon').val()
        const status = $('#status').val()
        const link = $('#link').val()
       
  
        const formData = new FormData()
        formData.append('titulo', titulo)
        formData.append('subtitulo', subtitulo)
        formData.append('icon', icon)
        formData.append('status', status)
        formData.append('link', link)
     
  
        const request = await axios.put('/api/cms/servico',formData)
        toastMsm(request.data.resp)
  
      } catch (error) {
        console.log(error)
        if (error.response != undefined && error.response.data.erro != undefined) {
          console.log(error.response)
          toastErro(error.response.data.erro)
        } else {
          toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
        }
      }finally{
        loadModal(false)
      }
    }
  </script>
<%- include("../../partials/script.ejs")%>
<%- include("../../partials/end.ejs")%>
