<%- include("../../partials/admin/head.ejs")%>
  <%- include("../../partials/admin/header.ejs")%>
    <div class="container-fluid">
      <div class="row">
        <%- include("../../partials/admin/nav.ejs")%>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <section id="">
              <div class="container" data-aos="fade">
                <div class="my-1 border-bottom">
                  <h1>CMS - SOBRE NÓS</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                      <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Sobre</li>
                    </ol>
                  </nav>
                </div>
                <div class="d-flex justify-content-center">
                  <div class="card mb-3 col-10 d-flex">
                    <div class="card-body">
                      <h5 class="card-title"><%=(sobre != undefined && sobre.titulo != null)?sobre.titulo:"Insira o Título dessa sessão"%></h5>
                      <h6 class="card-title"><%=(sobre != undefined && sobre.subtitulo != '')?sobre.subtitulo:"Insira o Subtítulo dessa sessão"%></h6>
                      <img class="img-fluid w-25" src="<%=(sobre != undefined && sobre.img1 != null)?sobre.img1:''%>"
                        class="card-img-top" alt="Imagem 1">
                      <p class="card-text"><%=(sobre != undefined && sobre.texto1 != '')?sobre.texto1:"Insira o TEXTO1 dessa sessão"%></p>
                      <p class="card-text"><%=(sobre != undefined && sobre.texto2 != '')?sobre.texto2:"Insira o TEXTO2 dessa sessão"%></p>
                      <img class="img-fluid w-25" src="<%=(sobre != undefined && sobre.img2 != '')?sobre.img2:''%>"
                        class="card-img-bottom" alt="Imagem 2">
                      <p class="card-text"><a href="<%=(sobre != undefined && sobre.video != '')?sobre.video:'#'%>"><%=(sobre != undefined && sobre.video != '')?sobre.video:'Insira o vídeo dessa sessão'%></a></p>

                      <div class="d-flex justify-content-center mt-3">
                          <button type="button" onclick="editar()" class="btn btn-outline-primary" data-bs-toggle="modal"
                            href="#exampleModalToggle" role="button" title="Editar">Editar</button>
                      </div>
                    </div>

                  </div>
                </div>
                
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                  aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalToggleLabel">Editando pagina Sobre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="loadModal">
                          <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <section class="row g-3 bodyModal">
                          <div class="col-12">
                            <label for="titulo" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="titulo">
                          </div>
                          <div class="col-12">
                            <label for="subtitulo" class="form-label">Subtiutlo</label>
                            <input type="text" class="form-control" id="subtitulo">
                          </div>
                          <div class="col-12">
                            <label for="img1" class="form-label">Foto 1:</label>
                            <div class="d-flex text-center justify-content-center">
                              <img src="" id="preimg1" class="img-fluid w-25"  alt="" srcset="">
                            </div>
                            <div class="input-group mt-3 col-md-6">
                              <input type="file" onchange="previewImg($(this)[0].id,'preimg1')" class="form-control" id="img1">
                              <label class="input-group-text" for="img1"><i class="bi bi-card-image"></i></label>
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="texto1" class="form-label">Texto 1</label>
                            <textarea class="form-control" id="texto1" rows="5"></textarea>
                          </div>
                          <div class="col-12">
                            <label for="texto2" class="form-label">Texto 2</label>
                            <textarea class="form-control" id="texto2" rows="5"></textarea>
                          </div>
                          <div class="col-12">
                            <label for="video" class="form-label">Vídeo <span class="text-muted">(Youtube ou
                                Vimeo)</span></label>
                            <input type="text" name="video" id="video" class="form-control">
                          </div>
                          <div class="col-12">
                            <label for="img2" class="form-label">Foto 2</label>
                            <div class="d-flex text-center justify-content-center">
                              <img src="" id="preimg2" class="img-fluid w-25"  alt="" srcset="">
                            </div>
                            <div class="input-group mt-3 col-md-6">
                              <input type="file" onchange="previewImg($(this)[0].id,'preimg2')" class="form-control" id="img2">
                              <label class="input-group-text" for="img2"><i class="bi bi-card-image"></i></label>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <label for="status" class="form-label">Status</label>
                            <select id="status" class="form-select">
                              <option value="true" selected>Habilitar</option>
                              <option value="false">Desabilitar</option>
                            </select>
                          </div>
                        </section>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-success btnModal" onclick="salvar()">Salvar</button>
                      </div>
                    </div>
                  </div>
                </div>

            </section>
          </main>
      </div>
    </div>
    <%- include("../../partials/script.ejs")%>
      <script>
         async function editar() {
          try {
            //Ao iniciar a função ele da o loop no modal
            loadModal(true)
            const titulo = $('#titulo')
            const subtitulo = $('#subtitulo')
            const texto1 = $('#texto1')
            const texto2 = $('#texto2')
            const status = $('#status')
            const video = $('#video')
            const preimg1 = $('#preimg1')
            const preimg2 = $('#preimg2')


            const request = await axios.get('/api/cms/sobre')
            const sobre = request.data.sobre
            console.log(sobre)
            titulo.val(sobre.titulo)
            subtitulo.val(sobre.subtitulo)
            texto1.val(sobre.texto1)
            texto2.val(sobre.texto2)
            status.val(sobre.status)
            video.val(sobre.video)
            preimg1[0].src = sobre.img1
            preimg2[0].src = sobre.img2

          } catch (error) {
            console.log(error)
            if (error.response != undefined && error.response.data.erro != undefined) {
              console.log(error.response)
              toastErro(error.response.data.erro)
            } else {
              toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
            }
          } finally {
            loadModal(false)
          }
        }

        async function salvar() {
          try {
            //Ao iniciar a função ele da o loop no modal
            loadModal(true)
            const titulo = $('#titulo').val()
            const subtitulo = $('#subtitulo').val()
            const texto1 = $('#texto1').val()
            const texto2 = $('#texto2').val()
            const status = $('#status').val()
            const img1 = $('#img1')[0].files[0]
            const img2 = $('#img2')[0].files[0]
            const video = $('#video').val()

            const formData = new FormData()
            formData.append('img1', img1)
            formData.append('img2', img2)
            formData.append('titulo', titulo)
            formData.append('subtitulo', subtitulo)
            formData.append('video', video)
            formData.append('status', status)
            formData.append('texto1', texto1)
            formData.append('texto2', texto2)

            const request = await axios.put('/api/cms/sobre',formData)
            toastMsm(request.data.resp)
            document.location.reload()
          } catch (error) {
            console.log(error)
            if (error.response != undefined && error.response.data.erro != undefined) {
              console.log(error.response)
              toastErro(error.response.data.erro)
            } else {
              toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
            }
          }finally{
            loadModal(false)
          }
        }
      </script>
      <%- include("../../partials/end.ejs")%>