<%- include("../../partials/admin/head.ejs")%>
<%- include("../../partials/admin/header.ejs")%>
<style>
    .iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    /* Then style the iframe to fit in the container div with full height and width */
    .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row">
    <%- include("../../partials/admin/nav.ejs")%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section id="">
            <div class="container" data-aos="fade">
                <div class="my-1 border-bottom">
                    <h1>CMS - VIDEOS <button type="button" class="btn btn-outline-primary" title="Cadastrar"  data-bs-toggle="modal" href="#exampleModalToggle" role="button" onclick="loadModal(false)">Cadastrar<i class="bi bi-plus-circle"></i></button></h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                          <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Videos</li>
                        </ol>
                    </nav>
                </div>
                <div class="d-flex justify-content-center">
                <div class="card mb-3 col-8 d-flex">
                  <div class="card-body">
                    <h5 class="card-title">Video</h5>

                    <div class="iframe">
                        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                    </div>
                    
                    <div class="d-flex justify-content-center mt-3">
                          <div class="btn-group btn-group-sm" role="group" aria-label="...">
                              <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button" title="Alterar" onclick="loadModal(false)"><i class="bi bi-upload"></i></button>
                            </div>
                        </div>
                    </div>
                    
                  </div>
                  </div>
              
            <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalToggleLabel">Alterando video</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="loadModal">
                        <div class="d-flex justify-content-center">
                          <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                      </div>
                        <form class="row g-3" style="display: flex;justify-content: center;">
                            <div class="col-12">
                              Video 1:
                                <div class="input-group mt-3 col-md-6">
                                  <input type="text" class="form-control" id="video1" placeholder="Link do Youtube">
                                </div>
                                <div class="col-12">
                                  Video 2:
                                  <div class="input-group mt-3 col-md-6">
                                  <input type="text" class="form-control" id="video2" placeholder="Link do Youtube">
                                 
                                </div>
                              </div>
                            
                            
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-success btnModal" onclick="salvar()">Salvar</button>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
             
        </section>
    </main>
    </div>
    <script>
      async function salvar() {
        try {
          //Ao iniciar a função ele da o loop no modal
          loadModal(true)
          const video1 = $('#video1').val()
          const video2 = $('#video2').val()
         
          const formData = new FormData()
          formData.append('video1', video1)
          formData.append('video2', video2)

          const request = await axios.put('/api/cms/video',formData)
          toastMsm(request.data.resp)

        } catch (error) {
          console.log(error)
          if (error.response != undefined && error.response.data.erro != undefined) {
            console.log(error.response)
            toastErro(error.response.data.erro)
          } else {
            toastErro('Ocorreu um erro durante o processamento de dados, verifique sua rede e tente novamente')
          }
        }finally{
          loadModal(false)
        }
      }

    </script>
</div>

<%- include("../../partials/script.ejs")%>
<%- include("../../partials/end.ejs")%>
