<%- include("../../../partials/admin/head.ejs")%>
<%- include("../../../partials/admin/header.ejs")%>
<div class="container-fluid">
    <div class="row">
    <%- include("../../../partials/admin/nav.ejs")%>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section class="container" data-aos="fade">
          <div class="my-1 border-bottom">
            <h1>CMS - Funcionários</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                  <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Funcionários</li>
                </ol>
            </nav>
          </div>
          <div class="d-flex justify-content-center">
            <div class="card mb-3 col-12 d-flex">
              <div class="card-body">
                <h5 class="card-title">Funcionários</h5>
                <div class="row">
                  <%funcionarios.forEach(funcionario =>{%>
                    <div class="col-lg-4 my-2 col-md-6 border border-<%= funcionario.status?'success':'danger'%> p-2 text-center">
                      <h5><%=funcionario.nome%></h5>
                      <p class="mb-0">Competência: <%=funcionario.competencia%></p>
                      <p class="mb-0">Status: <%=funcionario.status ? 'Ativo':'Inativo'%></p>
                      <div class="text-center my-4">
                        <img src="<%=funcionario.img%>" class="img-thumbnail w-25 rounded-pill">
                      </div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" value="<%=funcionario.id%>" class="btn btn-sm btn-primary mx-1" onclick="editar(this.value)" data-bs-toggle="modal" href="#modaFuncionario">Editar <i class="bi bi-pencil-square" style="cursor:pointer"></i></button>
                        <button type="button" value="<%=funcionario.id%>" onclick="remover(this.value)" class="btn btn-sm btn-danger mx-1">Remover <i class="bi bi-trash" style="cursor:pointer"></i></button>
                      </div>
                    </div>
                  <%})%>
                </div>   
              </div>
              <div class="card-footer text-center">
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#modaFuncionario" onclick="editar()"  role="button" title="Adicionar">Cadastrar <i class="bi bi-upload"></i></button>
              </div>
            </div>
          </div>
          <%- include("./modal.ejs")%>
        </section>
      </main>
    </div>
</div>
<%- include("../../../partials/script.ejs")%>
<script src="/script/cms/funcionario.js"></script>
<%- include("../../../partials/end.ejs")%>