<%- include("../../partials/admin/head.ejs")%>
<%- include("../../partials/admin/header.ejs")%>
<div class="container-fluid">
    <div class="row">
    <%- include("../../partials/admin/nav.ejs")%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section id="">
            <div class="container" data-aos="fade">
                <div class="my-1 border-bottom">
                    <h1>CMS - FUNCIONÁRIOS <button type="button" class="btn btn-outline-primary" title="Cadastrar"  data-bs-toggle="modal" onclick="loadModal(false)" href="#exampleModalToggle" role="button">Cadastrar <i class="bi bi-plus-circle"></i></button></h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
                          <li class="breadcrumb-item"><a href="/admin/cms">CMS</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Funcionário</li>
                        </ol>
                    </nav>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="bi bi-broadcast"></i>
                                    <h5 class="card-title">Nome</h5>
                                    <h6 class="card-title">Competência</h6>
                                    <a href="#" class="card-link">Foto</a>
                                    
                                    <div class="d-flex justify-content-center mt-3">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" href="#exampleModalToggle" onclick="loadModal(false)"  role="button" title="Editar">Editar<i class="bi bi-pencil-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%- include("./modal.ejs")%>
        </section>
    </main>
    </div>
</div>
<%- include("../../partials/script.ejs")%>
<script src="/script/cms/funcionario.js"></script>
<%- include("../../partials/end.ejs")%>
