<%- include("../partials/head.ejs")%>
<script charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=1691b4e6f82e4569c951f7"></script>
<%#- include("../partials/topbar.ejs")%>
<%- include("../partials/header.ejs")%>
<style>
    .estrela-conteudo{
        width: 30px;
        height: 30px;
    }
</style>
<main>
  <div class="container-fluid" id="">
    <section class="recent-posts mt-5 pt-5">
      <div class="container" data-aos="fade-down">

        <div class="section-header my-4">
          <h2><%=blog.titulo%></h2>
          <p>Autor: <%=blog.autor%> - <span class="text-muted"><%=blog.dataCri%></span></p>
          <div class="my-3">
            <img src="<%=blog.capa%>" class="img-fluid w-50" alt="">
          </div>
        </div>
        <div class="container my-2">
            <%-blog.html%>
        </div>
        <hr>
        <div class="container">
            <div class="text-center my-3">
                <a href="/" class="btn btn-success">Voltar para a página inicial</a>
            </div>
            <h3 class="text-equi">Gostou do nosso conteúdo? Veja também:</h3>

            <div class="row my-4">
                <%blogs.forEach(blog =>{%>
                    <div class="col-xl-4 col-md-6">
                      <article>
          
                        <div class="post-img">
                          <img src="<%=blog.capa%>" alt="" class="img-fluid">
                        </div>
          
                        <p class="post-category"><%=blog.categoria%></p>
          
                        <h2 class="title">
                          <a href="/conteudo/<%=blog.id%>?slug=<%=blog.titulo.replace(/ /g,'-')%>"><%=blog.titulo%></a>
                        </h2>
          
                        <div class="d-flex align-items-center">
                          <img src="<%=blog.autor_foto%>" alt="<%=blog.autor%>" class="img-fluid post-author-img flex-shrink-0">
                          <div class="post-meta">
                            <p class="post-author"><%=blog.autor%></p>
                            <p class="post-date">
                              <time datetime="<%=blog.createdAt%>"><%=blog.dataCri%></time>
                            </p>
                          </div>
                        </div>
          
                      </article>
                    </div><!-- End post list item -->
                  <%})%>
            </div>
        </div>
  </section>
</main>

<%- include("../partials/footer.ejs")%>
<%- include("../partials/script.ejs")%>
<script>
    document.querySelectorAll( 'oembed[url]' ).forEach( element => {
        iframely.load( element, element.attributes.url.value );
    });
     
 </script>
<%- include("../partials/end.ejs")%>